.about {
  padding: 80px 0;
  //background: $gray-200;
  text-align: center;

  .photo {
    // background-color: red;
    // padding: 4px;
    margin-bottom: 30px;

    img {
      height: 180px;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}
