.form {
  position: sticky;
  top: 130px;
  .card {
    border-radius: 0;
    border: 2px dotted rgba($primary, 0.6);
    box-shadow: 0 0 8px rgba(black, 0.1);
  }
  .form-group {
    margin-bottom: 8px;
    label {
      font-size: 0.9rem;
      margin-bottom: 4px;
    }
    .form-control {
      border-radius: 0;
    }
  }
  .tags {
    display: flex;
    margin-bottom: 16px;
    .custom-control {
      // margin-right: 0;
      display: flex;
      align-items: center;
      .custom-control-input {
        background-color: blue;
        // padding: 0;
      }
      .custom-control-label {
        font-size: 0.8rem;
        padding-top: 2px;
      }
    }
  }
}
