.form {
  position: sticky;
  top: 130px;
  .card {
    border-radius: 0;
    border: 2px dotted rgba($primary, 0.6);
    box-shadow: 0 0 8px rgba(black, 0.1);
  }
  .form-group {
    margin-bottom: 10px;
    label {
      font-size: 0.8rem;
      margin-bottom: 0px;
      display: none;
    }
    .form-control {
      border-radius: 0;
    }
  }
  .tags {
    margin: 16px 0;
    .custom-control {
      display: flex;
      align-items: center;
      .custom-control-label {
      }
    }
  }
  .spinner-border {
    //border: 0.2rem;
    border: 0.15em solid currentColor;
    border-right-color: transparent;
    margin-bottom: 2px;
    margin-left: 6px;
  }
}
