.hero {
  position: relative;
  background-image: url("http://www.saenz-valiente.com/images/lotes/24_IMG-20180713-WA0186.jpg");
  background-size: cover;
  background-position: center bottom;
  .darken {
    background-color: rgba(#000, 0.7);
    height: 660px;
  }
  .content {
    height: 660px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    .container {
      .headline {
        color: white;
        h1 {
          margin-top: 10px;
        }
        h2 {
          margin-bottom: 30px;
        }
      }
      .logos {
        margin-bottom: 30px;
        img {
          max-height: 50px;
        }
      }
      .info {
        margin-bottom: 30px;
        .card {
          background-color: transparent;
          border: none;
          .card-body {
            padding: 0;
            .card-title {
              color: white;
              margin-bottom: 0px;
              font-size: 1.3em;
            }
            .card-date {
              color: $primary;
              font-size: 2em;
              font-weight: 600;
              letter-spacing: 0.04em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .hero {
    .darken {
      height: 1030px;
      background-color: rgba(#000, 0.8);
    }
    .content {
      height: 1030px;
      .container {
        text-align: center;
        .headline {
          margin-bottom: 30px;
          h1 {
            margin-top: 0;
            font-size: 2em;
          }
          h2 {
            font-size: 1.4em;
          }
        }
        .logos {
          margin-bottom: 50px;
          img {
            max-height: 46px;
          }
        }
        .info {
          margin-bottom: 30px;
          .card {
            background-color: transparent;
            .card-body {
              padding: 0;
              .card-title {
                font-size: 1.1em;
              }
              .card-date {
                font-size: 1.5em;
                font-weight: 600;
                letter-spacing: 0em;
              }
            }
          }
        }
      }
    }
  }
}
