.hero {
  position: relative;
  background-image: url("../../static/bg-hero.jpg");
  background-size: cover;
  background-position: center bottom;
  .darken {
    background-color: rgba(#000, 0.6);
    height: 660px;
  }
  .content {
    height: 660px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    .container {
      .headline {
        color: white;
        margin-top: 50px;
        .pretitle {
          text-transform: uppercase;
          font-size: 1.6em;
          font-weight: 600;
          margin-bottom: 8px;
        }
        .title {
          margin-bottom: 20px;
          img {
            width: 340px;
            margin-bottom: 12px;
          }
          h2 {
            font-weight: 600;
            font-size: 2.6em;
          }
        }
        .subtitle {
          text-transform: inherit;
          margin-bottom: 30px;
          font-size: 2em;
        }
      }
      .logos {
        margin-bottom: 30px;
        img {
          max-height: 50px;
        }
      }
      .info {
        margin-bottom: 30px;
        .card {
          background-color: transparent;
          border: none;
          .card-body {
            padding: 0;
            .card-title {
              color: white;
              margin-bottom: 0px;
              font-size: 1.3em;
            }
            .card-date {
              color: $primary;
              font-size: 2em;
              font-weight: 600;
              letter-spacing: 0.04em;
              line-height: 1.4em;
            }
            .card-logo {
              margin-top: 8px;
              .logo-canal-rural {
                height: 60px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .hero {
    .darken {
      height: 1130px;
      background-color: rgba(#000, 0.8);
    }
    .content {
      height: 1130px;
      .container {
        text-align: center;
        .headline {
          margin-top: 0;
          margin-bottom: 30px;
          .pretitle {
            text-transform: uppercase;
            font-size: 1.4em;
            font-weight: 600;
            margin-bottom: 8px;
          }
          .title {
            margin-bottom: 20px;
            img {
              width: 240px;
              margin-bottom: 12px;
            }
            h2 {
              font-size: 1.6em;
              font-weight: 600;
            }
          }
          .subtitle {
            text-transform: inherit;
            margin-bottom: 20px;
            font-size: 1.4em;
          }
        }
        .logos {
          margin-bottom: 50px;
          img {
            max-height: 46px;
          }
        }
        .info {
          margin-bottom: 30px;
          .card {
            background-color: transparent;
            margin-bottom: 16px;
            .card-body {
              padding: 0;
              .card-title {
                font-size: 1.1em;
              }
              .card-date {
                font-size: 1.5em;
                font-weight: 600;
                letter-spacing: 0em;
              }
            }
          }
        }
      }
    }
  }
}
