.suscription {
  padding: 50px 0;
  text-align: center;
  .mailchimp {
    input,
    button {
      border: 1px solid $gray-400;
      border-radius: 0px;
    }
    input {
      width: 70%;
      padding: 8px 8px;
      margin-bottom: 16px;
    }
    button {
      padding: 8px 0px;
      margin-bottom: 8px;
      width: 30%;
    }
    .msg-alert {
      margin-top: 8px;
    }
  }
}
