.tanks {
  //background-color: orange;
  text-align: center;
  padding: 80px 0;

  .whatsapp {
    margin-bottom: 40px;
    line-height: 0;
    img {
      margin-bottom: 2px;
      height: 20px;
    }
  }

  .social {
    img {
      height: 20px;
    }
  }
}
